/*
Author: Timothy Achumba
Author URI: http://awsme.me.
Version: 1.0
*/

body  {
  background: #a64e39;
  color: rgba(255,255,255,.8);
  font-family: "Gotham Rounded";
  padding: 120px 0 0 100px;
}

header  {
  position: relative;
}

  .avatar  {
    background: url("../img/me.png") center center no-repeat;
    background-size: 100%;
    -webkit-border-radius: 150px;
    opacity: .5;
    width: 150px;
    height: 150px;
    display: block;
    float: left;
  }

  header h1 {
    font-size: 39px;
    font-weight: 100;
    margin: 38px 0 0 185px;
    position: absolute;
  }

    header h1 strong  {
      display: block;
      font-weight: 500;
      line-height: 45px
    }

