/**
 * Author: Timothy Achumba
 * Author URI: http://awsme.me.
 * Version: 1.0
 */

* {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}

.selectable * {
	user-select: text;
}

body {
  background: #b8462b;
  color: rgba(white,.8);
  font-family: "Gotham Rounded", "Rounded", sans-serif;
  padding: 120px 0 30px 100px;
  font-weight: 200;
  transition: padding 0.2s linear;

}

.button {
  margin: 20px 0 0 0;
  display: inline-block;
  font-size: 18px;
}

header {
	position: relative;
	h1 {
	  font-size: 39px;
	  font-weight: 200;
	  margin: 38px 0 0 185px;
	  position: absolute;
	  line-height: 45px;
	  
	  strong {
		  font-weight: 500;
	  }
	  
	  a {
			text-decoration: none;
			color: rgba(white,.8);
			transition: color 0.2s linear;
			
			&:hover {
				color: rgba(white,.4);
			}
	  }
	}
}

.hidden {  display: none }

.avatar {
  background: url("../images/me.png") center center no-repeat;
  background-size: 100%;
  border-radius: 150px;
  opacity: .5;
  width: 150px;
  height: 150px;
  display: block;
  float: left;
  transition: all 0.2s linear;
  
  &:hover {
	  opacity: .6;
  }
}

.scribble-wrapper {
  margin: 50px 0 0 185px;
  transition: margin 0.2s linear, opacity 0.2s linear;
  
  h1 {
	  font-size: 32px;
	  color: rgba(white,.7);
	  font-weight: 400;
	  margin-bottom: 10px;
  }
  
  h2 {
	  font-size: 27px;
	  color: rgba(white,.5);
	  font-weight: 200;
  }
}

.scribbles {
  margin: 28px 0 0 0;
  font-size: 20px;
}

.scribble {
  height: 38px;
  margin: 0 0 13px 0;
  font-weight: 400;
}

.scribble-date {
  position: absolute;
  margin: 0 0 0 -86px;
  color: rgba(white,.66);
}

.scribble-title, .button {
  font-weight: 200;
  padding: 10px 15px 8px 15px;
  background: rgba(black,.25);
  color: rgba(white,0.66);
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.2s linear;
  
  &:hover {
	  background: rgba(black,.5);
	  color: rgba(white,.8);
  }
}

.scribble-word-count {
  font-size: 15px;
  font-weight: 200;
  color: rgba(white,.3);
  padding: 0 0 0 15px;
}

.actual-scribble {
	width: 600px;
	
	h1 {
		font-size: 30px;
		font-weight: 400;
	}
	
	h3 {
		padding: 8px 0 4px 0;
		font-size: 19px;
		font-weight: 400;
		color: rgba(white,.6);
	}
	
	p {
		font-weight: 300;
		font-family: "proxima-nova" ,sans-serif;
		font-size: 17px;
		line-height: 26px;
		color: rgba(white,.5);
		margin-bottom: 10px;
		
		a {
			text-decoration: none;
			color: rgba(white,.7);
			transition: color 0.2s linear;
			
			&:hover {
				color: rgba(white,1.0);
				border-bottom: 1px dotted white;
			}
		}
	}
	
	ul li {
		list-style: circle;
		color: rgba(white,.5);
		margin: 0 0 10px 0;
	}
}

.tweet-post {
  font-weight: 400;
  position: relative;
  margin: 40px 0 0 0;
  font-size: 20px;
  line-height: 27px;
  color: rgba(white,.5);
  
  a {
	  text-decoration: none;
	  color: rgba(white,.7);
	  transition: color 0.2s linear;
	  
	  &:hover {
		  color: rgba(white,1.0);
		  border-bottom: 1px dotted rgba(white,1.0);
	  }
  }
}

.post-navigation {
  margin: 30px 0 0 0;
  font-size: 18px;
  padding: 10px 15px 8px 15px;
  background: rgba(black,.25);
  color: rgba(white,.66);
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.2s linear;
  display: inline-block;
  
  &:hover {
	  background: rgba(black,.5);
	  color: rgba(white,.8);
  }
}

.footer {
  font-size: 12px;
  color: rgba(white,.3);
  margin: 100px 0 0 185px;
  font-weight: 400;
  transition: margin 0.2s linear;
  
  a {
	  text-decoration: none;
	  color: rgba(white,.7);
	  transition: color 0.2s linear;
	  
	  &:hover {
		  color: white;
	  }
  }
  
  > span {
  	color: rgba(white,.7);
  	transition: color 0.2s linear;
  	cursor: pointer;
  	
  	&:hover {
	  	color: white;
	  	
	  	.contributors {
		  	opacity: 1;
		  	margin-top: -105px;
	  	}
  	}
  }
}

.contributors {
  text-align: center;
  position: absolute;
  padding: 10px 15px;
  background: rgba(black,.25);
  color: rgba(white,.66);
  border-radius: 4px;
  line-height: 20px;
  margin: -1000000px 0 0 -105px;
  opacity: 0;
  transition: opacity 0.2s linear;
  
  &:after {
		position: absolute;
	  display: inline-block;
	  content: " ";
	  width: 0;
		height: 0;
		margin: 30px 0 0 -62px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid rgba(black,.25);
  }
}

@media all and (max-width: 890px) and (min-width: 811px) {
  body {  padding: 120px 0 30px 20px !important;  }
}

@media all and (max-width: 810px) and (min-width: 0px) {
  body {  padding: 120px 20px 30px 20px !important;  }

  .scribble-date {
    display: none;
  }

  .scribble-wrapper {  margin: 50px 0 0 0 !important  }

  .footer {  margin: 100px 0 0 0 !important  }

}

@media all and (max-width: 630px) and (min-width: 0px) {

  body {  padding: 50px 20px 20px 20px !important;  }

  .actual-scribble {  width: 100% }

  .avatar {
    border-radius: 100px;
    width: 100px;
    height: 100px;
  }

  header h1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
    margin: 28px 0 0 120px;
    position: absolute;
  }

  .footer {
    font-size: 14px;
    line-height: 21px;
    margin-top: 50px !important;
  }

  .footer span:hover .contributors  {
    opacity: 0 !important;
    margin-top: -11005px !important;
  }

  .footer span {
    color: rgba(white,.7) !important;
  }
}